<form>
  <div class="mb-3">
    <span class="d-block p-2 bg-dark text-white">Renkler</span>

    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <select [(ngModel)]="currentColor" (change)="setCurrentColor()" name="colorSelect" class="form-select mb-1" aria-label="Default select example" >
      <option [selected]="allColorsSelected()" [ngValue]="allColor">Tüm Renkler</option>
      <option *ngFor="let color of colors" [ngValue]="color"> {{ color.name }} </option>
    </select>

  </div>
</form>



<!-- 
<div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input
      type="text"
      [(ngModel)]="colorfilterText"
      class="form-control"
      id="fiterText"
      placeholder="Arama İfadesi Giriniz"
    />
  </div>
  
  <div *ngIf="colorfilterText.length > 2" class="alert alert-success">
    {{ colorfilterText}} aradınız
  </div>



<h5>Renk</h5>
    <ul class="list-group list-group-flush">
    <li
    (click)="setCurrentColor(color)"
    routerLink= "/cars/color/{{color.id}}"
    *ngFor="let color of colors | colorFilter :colorfilterText"
    [class]="setCurrentColorClass(color)"
    >
    {{color.name}}</li>
</ul> -->
