  <!-- Navbar content -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12 mt-12">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent A Car</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/cars" class="nav-link">Araçlar</a>
        </li>
        <li class="nav-item">
          <a routerLink="/customers" class="nav-link">Müşteriler</a>
        </li>
        <li>
          <a routerLink="/rentals" class="nav-link">Kiralanan Araçlar</a>
        </li>

        <li>
          <a routerLink="/brands" class="nav-link">Markaları Listele</a>
        </li>
        <li>
          <a routerLink="/colors" class="nav-link">Renkleri Listele</a>
        </li>
        <li>
          <a routerLink="/carslist" class="nav-link">Araçları Listele</a>
        </li>
      </ul>


      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" *ngIf="isLoggedIn() == false">
        <button  *ngIf="isLoggedIn() == false"  type="button"class="btn btn-primary" routerLink="register">
          Kaydol
         </button>
     
     
        <button  *ngIf="isLoggedIn() == false" class="btn btn-secondary" routerLink="login">
          Giriş yap
        </button>
      </div>
              
      
      <li class="nav-item">

        <div *ngIf="isLoggedIn() == true" class="btn-group btn-group-lgs">
          <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{userDetails.name}} 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="updateinfos">Bilgilerini Güncelle</a></li>
            <li><a class="dropdown-item" routerLink="updatepassword">Parola Değiştir </a></li>
            <li><a class="dropdown-item" routerLink="cardslist">Kayıtlı Kredi Kartları </a></li>
          </ul>
          <button  *ngIf="isLoggedIn() == true" class="btn btn-danger" (click)="logout()">
            Çıkış Yap
           </button>
        </div>
        </li>

    
    <!--   <li class="nav-item">
      <button  *ngIf="isLoggedIn() == true" class="w-100 btn btn-lg btn-danger" (click)="logout()" style="margin-right: 10px; width: 10px; height: 50px;">
       Çıkış Yap
      </button> </li> -->
  
   




     <!--  <span class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isLoggedIn() == false">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn() == false">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
          <ul class="nav-item dropdown" *ngIf="isLoggedIn() == true">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                id="dropdownMenuButton"
                data-bs-toggle
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ userInfos.firstName + " " + userInfos.lastName }}
                <span
                  class="label label-warning"
                  *ngIf="userDetails.findeksScore"
                >
                  FS: {{ userDetails.findeksScore }}
                </span>
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" routerLink="updateinfos">
                 &nbsp;Update Account Information</a
                ></li>

                <li><a class="dropdown-item" routerLink="updatepassword">
                &nbsp;&nbsp;Change Password</a
                ></li>

                <li><a class="dropdown-item" routerLink="cardslist">
                &nbsp;Kayıtlı Kredi Kartları</a
                ></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" (click)="logout()">
                &nbsp;Logout</a
                ></li>
              </ul>
            </li>
          </ul>        
      </span>
    </div>
  </div>
</nav>

 -->


