
<footer class="py-5 text-white text-center">
    <div class="container">
         <small>
                Copyright &copy;
                 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/omer-kucuk/" class="link-primary" target="_blank">Ömer KÜÇÜK</a> 
                <!--  <a href="" target="_blank">Ömer KÜÇÜK</a> -->
            </small>
            <script>document.write(new Date().getFullYear())</script>

    </div>
</footer>